html {
  background-color: #1a1216;
}

body {
  font-family: "Sora", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 80px;
}

.app {
  background-color: #2a1a22;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 14px;
  border-radius: 8px;
  box-shadow: 0 0 4px #2a1a22;
}

.mainBlock {
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

button {
  border: 1px solid black;
  box-shadow: 0 0 6px black;
  background-color: #e6b0c4;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 60px;
  height: 60px;
  font-size: 30px;
}

button:hover {
  background-color: #e69ab6;
  transform: rotate(4deg) translateY(-5px) scale(105%);
}

button:active {
  transform: scale(80%);
}

.mainButton {
  width: auto;
  height: auto;
  border: 0px solid black;
  box-shadow: 0 0 0px black;
  border-radius: 14px;
}

.mainButton:hover {
  background-color: #e6b0c4;
  transform: scale(105%);
}

.mainButton:active {
  transform: scale(80%);
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.363);
  width: 100%;
}

.buttonBlock {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.glow-pink {
  box-shadow: 0 0 20px #e6b0c4;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6b0c4;
  width: 500px;
  height: 600px;
  border-radius: 16px;
  box-shadow: 0 0 20px #e6b0c4;
  border: 2px solid rgba(255, 255, 255, 0.568);
  transition: all 0.3s ease;
  margin-top: 100px;
}

.counter:hover {
  border: 2px solid #e6b0c4;
}

.upgradeBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
}

.upgrade {
  background-color: #e6b0c4;
  border-radius: 16px;
  box-shadow: 0 0 20px #e6b0c4;
  height: 100px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  border: 2px solid rgba(255, 255, 255, 0.568);
  transition: all 0.3s ease;
}

.upgradeImg {
  height: 100%;
  width: 100px;
  margin-left: auto;
  border-radius: 14px;
}

.upgrade:hover {
    transform: scale(105%);
}